services:
  frontend:
    build: ./frontend
    env_file: ./.env
    ports:
      - "${FRONTEND_PORT}:5555"
    depends_on:
      - backend
    networks:
      - app-network

  backend:
    build: ./backend
    env_file: ./.env
    ports:
      - "${BACKEND_PORT}:8080"
    volumes:
      - ${CONTENT_PATH}:/app/content
    environment:
      - NODE_ENV=production
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
